bwizard {
    position: relative }
.bwizard .well {
    margin: 3px 0 }
.bwizard-buttons {
    float: right }
	.bwizard-buttons .btn:first-child {
	    margin-right: 3px;}
.bwizard-steps {
	margin:0;
	padding: 0;}
	.bwizard-steps li {
	    display: inline-block;
	    position: relative;
	    margin-right: 5px;
	    line-height: 18px;
	    list-style: none;
	    padding: 12px 17px 10px 30px;
	    background: #efefef }
	.bwizard-steps li:first-child {
	    -moz-border-radius: 4px 0 0 4px;
	    -webkit-border-radius: 4px 0 0 4px;
	    border-radius: 4px 0 0 4px;
	    padding-left: 12px; }
	.bwizard-steps li:first-child:before {
	    border: none; }
	.bwizard-steps li:last-child {
	    -moz-border-radius: 0 4px 4px 0;
	    -webkit-border-radius: 0 4px 4px 0;
	    border-radius: 0 4px 4px 0; }
	.bwizard-steps li:last-child:after {
	    border: none }
	.bwizard-steps li:before {
	    position: absolute;
	    left: 0; top: 0;
	    height: 0px; width: 0px;
	    border-bottom: 20px inset transparent; border-left: 20px solid #fff; border-top: 20px inset transparent;
	    content: "" }
	.bwizard-steps li:after {
	    position: absolute;
	    right: -20px; top: 0;
	    height: 0px; width: 0px;
	    border-bottom: 20px inset transparent; border-left: 20px solid #efefef; border-top: 20px inset transparent;
	    content: "";
	    z-index: 2; }
	.bwizard-steps .badge {
	    position: relative;
	    top: -1px;
	    margin: 0 5px 0 0 }
	.bwizard-steps .current {
	    color: #fff;
	    background: #007ACC; }
	.bwizard-steps .current:after {
	    border-left-color: #007ACC }
